<h1> sign Up </h1>
<h1> sign In </h1>
<form action="/users/create" method="post">
    <input type="text" name="name" placeholder="Your Name" required>
    <input type="email" name="email" placeholder="Your Email" required>
    <input type="password" name="password" placeholder="Your Password" required>
    <input type="password" name="confirmPassword" placeholder="Confirm Password" required>

    <input type="button" value="sign-Up">
</form>